:root {
    --width: 100%;
    --headerHeight: 120px;
    --iconsHeight: 75px;
    --footerHeight: 100px;
    --outNowHeight: 45px;
  }

  *{
      box-sizing: border-box;
      margin: 0px;
    padding: 0px;
  }

  #fullWidthStreamingContainer {
      width:    100%;
      height:   100%;
      background: white;
  }

#streamingContainer {
    margin: auto;
    height: 75px;
    max-width: 300px;
    width: 100%;
    display: flex;
}


.streamingLogo {
    height: 100%;
    width: 25%;
    text-align: center;
    padding-top: 8%;
}

#header {
    width: 100vw;
    height: 120px;
    background: rgb(11, 11, 11);
    margin: auto;
    padding: 0px;
    border-bottom: 5px solid white;
    border-bottom: 5px solid red;
    border-top: 5px solid white;
    color: white;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    padding-top: 10px;
    font-size: 34px;
    padding-bottom: 10px;
}



@keyframes neonLogo {
   0% {background: rgb(255, 255, 255);}
    100% {opacity: black;}
  }

#coverArtPic {
    width: 18%;
    height: 100%;
    min-width: 200px;
    max-width: 80px;
}

@keyframes example {
    from {color: red;}
    to {color: white}
  }


  #newSingleTextContainer{
    width: 100vw;
    border: 1px solid black;
    border-left: 0px;
    border-right: 0px;
    height: auto;
}


#newSingleText {
    margin: auto;
    width: 300px;
    color: white;
    text-align: center;
    font-size: 34px;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Major Mono Display', monospace;
    font-family: 'Amatic SC', cursive;
    animation-name: example;
    animation-duration: 1s; 
    animation-iteration-count: infinite;
}


  #youtubeVidContainer {
    position: relative;
    margin: auto;
    max-width: 800px;
    width: 100%;
    margin-top: 25px;
    height: 400px;
    border: 1px dotted white;
  }

  #youtubeVid{
      position: absolute;
      height: 100%;
      width: 100%;
   
  }

  .fullWidth {
      height: auto;
      width: 80vw;
      max-width: 800px;
      background: white;
      margin: auto;
      background: black;
    
  }

 

  #footer {
      height: 100px;
      width: 100vw;
      background: rgb(11, 11, 11);
    margin: 0px;
    padding: 0px;
    border-top: 3px solid red;
    border-bottom: 3px solid white;
    position: absolute;
    bottom: -20px;
    transition: opacity 1s;
   
  }

  #margin {
    height: 200px;
    width: 100vw;
}

  #newFooter {
    height: 100px;
    width: 100vw;
    background: rgb(11, 11, 11);
  margin: 0px;
  margin-top: 30px;
  padding: 0px;
  border-top: 3px solid red;
  transition: opacity 1s;
}

#hidden{
    height: 80px;
    width: 100vw;
    background: rgb(11, 11, 11);
  margin: 0px;
  padding: 0px;
  border-top: 3px solid red;
  border-bottom: 3px solid white;
  transition: opacity 1s;
  margin-top: 30px;
  display: none;

}



  @media only screen and (max-width: 415px)  {
    #footer {
        bottom: 0px;
        border-bottom: 5px solid white;
        border-bottom-right-radius: 5%;
        border-bottom-left-radius: 5%;

        display: none;
    }

    #hidden{
        display: block;
    }

    #youtubeVidContainer {
            height: 200px;
    }

    .fullWidth {
        width: 90vw;
    }
    
  }

 

@media only screen and (max-width: 320px)  {
    #footer {
        height: 80px;
    }

    #header {
        height: 100px; 
    }

    #coverArtPic {
        min-width: 150px
    }

}

a:link {
    color: black;
  }
  a:visited {
    color: black;
  }
 #spotify:hover {
    color: #1DB954
  }

  #soundcloud:hover {
    color: #ff8800
  }

  a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration: none;
}



  #apple:hover {
    background: radial-gradient(#e66465, #9198e5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial;
  
}
#youtube:hover {
    color: red
  }

  a:active {
    color: black;
  }

  @media only screen and (min-width: 1365px) and (min-height: 941px) {
    .fullWidth {
            max-width: 100%;
            width: 100vw
    }

    #youtubeVidContainer {
        max-width: 100%;
        height: 600px;
    }
}

@media only screen and (min-width: 1920px) and (min-height: 1080px) {
   .fullWidth{
       height: calc(100vh - 350px);
   }

    #youtubeVidContainer {
        height: 100%;
        margin-top: 0px;
    }

   
}

@media only screen and (max-height: 415px) {
    #footer {
            opacity: 0
    }
}

@media only screen and (max-height: 750px) {
    #footer {
            opacity: 0
    }
}


