:root {
    --width: 100%;
  }

  *{
      box-sizing: border-box;
      margin: 0px;
    padding: 0px;
  }

  #fullWidthStreamingContainer {
      width:    100%;
      height:   100%;
      background: white;

      
  }

#streamingContainer {
    margin: auto;
    /* margin-top: 25px; */
    /* margin-top: 20px; */
    height: 75px;
    max-width: 300px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;

}


.streamingLogo {
    height: 100%;
    width: 25%;
    /* border: 1px solid black; */
    text-align: center;
    padding-top: 8%;
    /* color: white; */
}

/* #header {
    width: 100vw;
    height: 50px;
    background: white;
    margin: 0px;
    padding: 0px;
    border-bottom: 5px solid red;
} */

#header {
    width: 100vw;
    /* max-width: 200px; */
    /* border-bottom-left-radius: 10%; */

    height: 120px;
    background: rgb(11, 11, 11);
    margin: auto;
    padding: 0px;
    border-bottom: 5px solid white;
    border-bottom: 5px solid red;
    /* border-bottom: 5px solid rgba(34, 143, 176, 0.817); */
    border-top: 5px solid white;
    color: white;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    padding-top: 10px;
    font-size: 34px;
    padding-bottom: 10px;
    animation: neonLogo .8s steps(5, start) 1;

    /* margin-top: 15px; */
    /* float: right */

    /* background-image: url("/Users/bwexler/Desktop/WDF/coolItPt2/coolItPt2Pic.png"); */

  /* Full height */


  /* Center and scale the image nicely */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
    /* border-bottom: 5px solid red; */
}



@keyframes neonLogo {
   0% {background: rgb(255, 255, 255);}
    100% {opacity: black;}
  }

#coverArtPic {
    width: 18%;
    height: 100%;
    min-width: 200px;
    max-width: 80px;
 
    
   
 
}

@keyframes example {
    from {color: red;}
    to {color: white}
  }
  
  /* The element to apply the animation to */

  #newSingleTextContainer{
    /* height: 200px; */
    width: 100vw;
    border: 1px solid black;
    border-left: 0px;
    border-right: 0px;
}


#newSingleText {
    margin: auto;
    width: 300px;
    color: white;
    /* margin-top: 40px; */
    text-align: center;
    font-size: 34px;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Major Mono Display', monospace;
    font-family: 'Amatic SC', cursive;
    animation-name: example;
    animation-duration: 1s; 
    animation-iteration-count: infinite;
    /* background: black; */
    /* width: auto; */
    /* width: 800px; */
    /* max-width: 300px; */
 
    

}

/* @media only screen and (max-width: 600px) {
    #bigPicContainer {
        width: 1;
    }
  } */

  body {
      /* background: rgba(133, 164, 230, 0.591); */
      /* background: rgb(250, 245, 245); */
      /* background: black; */

      /* background-image: url("/Users/bwexler/Desktop/WDF/coolItPt2/coolItPt2Pic.png"); */

  /* Full height */


  /* Center and scale the image nicely */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
      
      /* width: 100%; */
      /* display: flex;
      flex */
  }

  #youtubeVidContainer {
    position: relative;
    /* overflow: hidden; */
    /* padding-top: 56.25%; */
    margin: auto;
    max-width: 800px;
    width: 100%;
    margin-top: 25px;

    height: 400px;
    /* animation-name: neonLogo;
    animation-duration: 1s; 
    animation-iteration-count: infinite; */
   
    border: 1px dotted white;
    
    
    /* display: flex; */


  }

  #youtubeVid{
      position: absolute;
      height: 100%;
      width: 100%;
   
  }

  .fullWidth {
      height: auto;
      width: 80vw;
      max-width: 800px;
      background: white;
      /* padding-bottom: 70px; */
      margin: auto;
      background: black;
  }

  #footer {
      height: 100px;
      width: 100vw;
      /* background: black; */
      background: rgb(11, 11, 11);
    margin: 0px;
    padding: 0px;
    border-top: 3px solid red;
    /* border-bottom: 5px solid white; */
    position: absolute;
    bottom: 20px;
    transition: opacity 1s;
  }

  @media only screen and (max-width: 500px)  {
    #footer {
        bottom: 0px;
        border-bottom: 5px solid white;
        border-bottom-right-radius: 5%;
        border-bottom-left-radius: 5%
    }
    #youtubeVidContainer {
            height: 200px;
    }

    .fullWidth {
        width: 90vw;
    }
    
  }

  @media only screen and (max-height: 800px) and (min-width: 415px)  {
    #footer {
            opacity: 0
    }
}

@media only screen and (max-width: 320px)  {
    #footer {
        height: 80px;
    }

    #header {
        height: 100px; 
    }

    #coverArtPic {
        min-width: 150px
    }

}

a:link {
    color: black;
  }
  
  /* visited link */
  a:visited {
    color: black;
  }
  
  /* mouse over link */
 #spotify:hover {
    color: #1DB954
  }

  #soundcloud:hover {
    color: #ff8800
  }

  a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

  /* #apple:hover {
   
    background: -webkit-linear-gradient(45deg, #09009f, #00ff95 80%);
    -webkit-text-fill-color: black;
  } */
/* 
  #apple:hover {
    font-size: 72px;
    background: -webkit-gradient(linear, left top, left bottom, from(#f00), to(#333));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial; /* reset Font Awesome's display:inline-block */
  

  #apple:hover {
    background: radial-gradient(#e66465, #9198e5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial;
  
}
#youtube:hover {
    color: red
  }
youtube
  
  /* selected link */
  a:active {
    color: black;
  }